* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  width: 1000px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: rgb(26, 26, 26);
}

header nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > div {
  flex: 1;
}

nav > div > a {
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid white
}

.navLinks {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.navLinks li{
  margin: 0 10px;
}

.navLinks li a {
  padding: 5px 0px 3px 0px;
}

.navLinks li a:hover,
.navLinks li a.active {
  border-bottom: 2px solid white;
}

#menuCheck {
  display: none;
}

.menuBtn {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  display: none;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainText {
  flex: 1;
  margin: 0 10px 20px 0;
  max-width: 300px;
}

.mainText > * {
  margin: 20px 0;
}

.mainText p {
  line-height: 1.4em;
}

.mainImg {
  flex: 1;
}

.mainImg img {
  width: 100%;
}

.card {
  width: 325px;
  padding: 10px;
  margin: 10px;
  position: relative;
  float: right;
  top: -50px;
  right: 1%;
  background-color: rgb(26, 26, 26);
  border-bottom: 3px solid rgb(42, 42, 42);
  border-right: 3px solid rgb(42, 42, 42);
}

.cardHeader {
  margin-bottom: 10px;
  text-justify: center;
  display: flex;
  align-items: center;
}

.cardHeader img {
  width: 50px;
  border-radius: 50%;
}

.cardHeader div {
  margin-left: 10px;
}

.cardHeader div h3 {
  margin-bottom: 10px;
}

.cardHeader div p {
  color: gray;
}

.cardContent {
  font-size: 16px;
}

footer {
  text-align: center;
}

footer b {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .menuBtn {
    display: block;
  }
  .navLinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 80px;
    display: block;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
    background-color: rgb(26, 26, 26);
  }
  .navLinks li {
    margin: 80px 0;
    font-size: 20px;
  }
  #menuCheck:checked ~ .navLinks {
    left: 0;
  }
  main {
    flex-direction: column;
    justify-content: flex-start;
  }
  .mainText {
    margin: 0 0 20px 0;
    max-width: 100%;
    flex: 0;
  }
  .card {
    width: initial;
  }
}

